---
name: CI

env:
  IMAGE_NAME: research-template
  IMAGE_VERSION: v0
  PUBLIC_IMAGE_NAME: ghcr.io/opensafely-core/research-template
  REGISTRY: ghcr.io

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
  schedule:
    - cron: "0 12 * * SUN"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5  # v3.3.0
        # Lint the dockerfile before building
        with:
          failure-threshold: error
      - uses: "opensafely-core/setup-action@v1"
        with:
          install-just: true

      - name: Build docker image
        run: just build

      # This is a workaround to reclaim disk space.
      # Otherwise, the GitHub Actions runner can run out of space.
      - name: Prune docker builder
        run: docker builder prune --all --force
  
      - name: Save docker image
        run: |
          docker image save research-template | zstd --fast -o /tmp/research-template.tar.zst

      - name: Upload docker image
        uses: actions/upload-artifact@v5
        with:
            name: research-template-image
            path: /tmp/research-template.tar.zst
            # Disable compression; the file is already compressed
            compression-level: 0

  test-docker-image:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Install just
      uses: "opensafely-core/setup-action@v1"
      with:
        install-just: true

    - name: Download Docker image
      uses: actions/download-artifact@v6
      with:
        name: research-template-image
        path: /tmp/image

    - name: Import Docker image
      run: docker image load --input /tmp/image/research-template.tar.zst

    - name: Test Python installation
      run: just test-python-install

    - name: Test R Studio installation
      run: just test-rstudio-install

    - name: Test packages
      run: just test-packages

    - name: Test postCreate script
      run: just test-postcreate-script

  publish:
    needs: [build, test-docker-image]

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v6
      - uses: "opensafely-core/setup-action@v1"
        with:
          install-just: true

      - name: Download docker image
        uses: actions/download-artifact@v6
        with:
            name: research-template-image
            path: /tmp/image

      - name: Import docker image
        run: docker image load --input /tmp/image/research-template.tar.zst

      - name: Publish image
        run: |
            echo ${{ secrets.GITHUB_TOKEN }} | docker login "$REGISTRY" -u ${{ github.actor }} --password-stdin
            docker tag "$IMAGE_NAME" "$PUBLIC_IMAGE_NAME:$IMAGE_VERSION"
            docker tag "$IMAGE_NAME" "$PUBLIC_IMAGE_NAME:latest"
            docker push "$PUBLIC_IMAGE_NAME:$IMAGE_VERSION"
            docker push "$PUBLIC_IMAGE_NAME:latest"

  notify-slack-on-scheduled-failures:
    needs: [build, test-docker-image, publish]

    runs-on: ubuntu-latest

    if: ${{ !cancelled() && github.event_name == 'schedule' && contains(needs.*.result, 'failure') }}

    steps:
      - name: Notify Slack on failure
        uses: zuplo/github-action-slack-notify-build@cf8e7e66a21d76a8125ea9648979c30920195552 # v2
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        with:
          channel_id: C069SADHP1Q
          status: "Scheduled Research Template Docker image build or publish failure"
          color: danger
